* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  background: #f20d70;
  height: 80px;
  padding: auto;
}

header,
nav,
footer {
  background-color: #f20d70;
  color: white;
}
.navbar h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
nav {
  padding: 0.5rem;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
.content-section,
.sidebar {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Estilos generales (por defecto para pantallas grandes) */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
}

/*desktop*/
@media (min-width: 960px) {
  body {
    padding: 20px;
    background-color: #ffffff;
  }
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
  }
  .navbar {
    padding: 15px 25px;
  }
  .navbar h1 {
    font-size: 18rem;
  }
  .card title {
    font-size: 0.9rem;
    height: 45px;
  }
  .footer {
    position: relative;
    margin-top: 20px;
    padding: 20px;
  }
}
/*mobile*/
@media (max-width: 400px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  .navbar {
    font-size: 1.3rem;
  }
}
